<div class="col-6">
  <div style="margin-top: 100px" class="form-group">
    <label for="username">Name</label>
    <input class="form-control" type="text" id="name" ngModel #name="ngModel">
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required">Name is required</div>
    </div>
  </div>

  <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control" type="text" id="email" ngModel #email="ngModel"/>
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
      </div>
  </div>

  <div class="form-group">
      <label for="location">Location</label>
      <input class="form-control" type="text" id="location" ngModel #location="ngModel"/>
      <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
          <div *ngIf="f.location.errors.required">Location is required</div>
      </div>
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input class="form-control" type="text" ngModel #username="ngModel"/>
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required">Username is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input class="form-control" type="password" ngModel #password="ngModel"/>
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
    </div>
  </div>
  <div class="form-group">
    <!-- <button [disabled]="loading" class="btn btn-primary" onclick="registerUser(name,email,location,username,password)">Register</button> -->
    <button class="btn btn-primary" (click)="registerUser(name,email,location,username,password)">Register</button>
    <a routerLink="/login" class="btn btn-link">Login</a>
  </div>
</div>